[Unit]
Description=ArchNesic — disable all swap
DefaultDependencies=no
After=dev-disk-by\x2dpartuuid.device
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/swapoff -a
ExecStart=/usr/bin/systemctl mask dev-disk-by\x2dpartuuid.device
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
