# ArchNesic — syslinux BIOS boot config
# vim: set ft=cfg:

DEFAULT archnesic
PROMPT 0
TIMEOUT 50
UI menu.c32
MENU TITLE ArchNesic Boot Menu
MENU COLOR border 30;44 #38bdae
MENU COLOR title 1;36;44 #7aa2f7
MENU COLOR sel 7;37;44 #c0caf5
MENU COLOR unsel 37;44 #a9b1d6
MENU COLOR help 34;44 #565f89
MENU COLOR timeout_msg 34;44 #565f89
MENU COLOR timeout 1;34;44 #7dcfff

INCLUDE archiso_sys.cfg
